# === Angular (client) ===
client/node_modules
client/dist
client/.angular/cache

# === Spring Boot (server) ===
server/target
*.class
*.war
*.jar

# === Logs ===
*.log

# === IDEs / OS files ===
.vscode/
.idea/
.DS_Store
Thumbs.db